<!doctype html>
<html>
    <head>
        <title>
            COGS120-A5
        </title>
        <link rel="stylesheet" type="text/css" href="main.css" />
    </head>
    <body>
        <div style = "width: 360px; height: 660px; background-color: beige">

        <div class = "back">
            <a href="home.html">
            <img src="back.png" height=20px style = "float: left" />
        </a>
        </div>
       
        <div id="container">
             <div id="header">
                <h2> <center> Add assignment</center></h2>
            </div>
            <div id="title">
                <h3> Title</h3>
                <div style = "width: 360px; height: 20px; background-color: #dbdbdb">
                    <input type = "text" id = "myText" value="Assignment 2" size = "70">
                    
                </div>
            </div>
            <div id="due">
            		<h3>Due Date</h3>
                    <img src="due_date.jpeg" width=360px/>
            	</div>
             <div id="repeat">
                <h3>Repeat</h3>
                 <div style = "width: 360px; height: 40px; background-color: #dbdbdb">
                    <img src="downwards.png" height=20px style = "float: right" />
                    <h4>Never</h4>
                

            </div>
        </div>
              <div id="notification">
                <h3>Notification</h3>
                 <div style = "width: 360px; height: 40px; background-color: #dbdbdb">
                    <img src="downwards.png" height=20px align="right" />
                <h4>Never</h4>
                <div class="arrow">
            </div>

            </div>
            </div>
        </div>

    </body>
</html>