<!doctype html>
<html>
    <head>
        <title>
            COGS120-A5
        </title>
        <link rel="stylesheet" type="text/css" href="main.css" />
    </head>
    <body>
        <div style = "width: 360px; height: 600px; background-color: beige">
       
        <div id="container">
            <div id="title">
                <h2> <center> title</center></h2>
                <div style = "width: 300px; height: 40px; background-color: grey">
                    <h5>Assignment 2</h5>
                </div>
            </div>
            <div id="content">
            	<div id="date">
            		<h3>Today</h3>
            	</div>
            	<div style = "width: 300px; height: 100px; background-color: blue">
            		<h3>COGS 120</h3>
            		<h4>A5</h4>

            	</div>
            </div>
            <div id="footer">
                Copyright &copy; 2020 Yongho Jun 
            </div>
        </div>

    </body>
</html>