<!doctype html>
<html>
    <head>
        <title>
            COGS120-A5
        </title>
        <link rel="stylesheet" type="text/css" href="css/main.css" />
    </head>
    <body>
        <div style = "width: 360px; height: 600px; background-color: beige">
        <div class = "add">
        	<a href="2nd.html">
            <img src="add.png" height=40px style = "float: right" />
        </a>
            </div>
        <div id="container">
            <div id="header">
                <h2> <center> Home</center></h2>
            </div>
            <div id="content">
            	<div id="date">
            		<h3>Today</h3>
            	</div>
            	<div style = "width: 360px; height: 100px; background-color: #dbdbdb">
            		<h3>COGS 120</h3>
            		<h4>A5</h4>

            	</div>

            	<div id="date">
            		<h3>Tomorrow</h3>
            	</div>
            	<div style = "width: 360px; height: 100px; background-color: #dbdbdb">
            		<h3>DSGN 160</h3>
            		<h4>Reading Reflection</h4>

            	</div>

            	<div id="date">
            		<h3>Thursday</h3>
            	</div>
            	<div style = "width: 360px; height: 100px; background-color: #dbdbdb">
            		<h3>CSE 100</h3>
            		<h4>PA 7</h4>

            	</div>

            </div>
        </div>

    </body>
</html>