<!doctype html>
<html>

    <head>
        <title>COGS120-A5</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://code.jquery.com/jquery.js"></script>   
        <script src="js/bootstrap.js"></script>

        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
    </head>

    <body>
        <div class="mainbody" style = "background-color: #e6e2da">

           <div id="container">
                   
                <div id="add" class = "icon">
                   <a href="/add">
                      <img src="add.png" height=40px style = "float: right" />
                   </a>
               </div>

               <div id= "hmbgr" class = "icon">
                    <a href="/">
                        <img src="hamburger.png" height=40px style = "float: left" />
                    </a>
               </div>

               <div id="header">
                   <h2> <b>PRO'D ACTIVITY</b> </h2>
               </div>

               <div id="content">

                   <div id="home">
                      <h3>Home</h3>
                   </div>
                   <hr/>

                   <div id="alist">
                        <h4> <b>Assignment List</b> </h4>
                   </div>

            	   <div id="date">
            	       <h4>Today - Feb 6</h4>
            	   </div>

            	   <div class="assignment" style = "background-color: #de4b38">
            		  <h3>COGS 120</h3>
            		  <h4>A5</h4>
            	   </div>

            	   <div id="date">
            		  <h4>Tomorrow - Feb 7</h4>
            	   </div>

            	   <div class="assignment" style = "background-color: #e0c96b">
            		  <h3>DSGN 160</h3>
            		  <h4>Reading Reflection</h4>
            	   </div>

            	   <div id="date">
            		  <h4>Monday - Feb 10</h4>
                    </div>

            	   <div class="assignment" style = "background-color: #84c3e3">
            		  <h3>CSE 100</h3>
            		  <h4>PA 7</h4>
            	   </div>

                </div>
            </div>
        </div>

    </body>
</html>
