<!doctype html>
<html>

    <head>
        <title>LoginPage</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {{> facebook}}
        <script src="/js/facebook.js"></script>


        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="css/login.css" rel="stylesheet">

                <!-- Google Analytics -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-159672138-1', 'auto');
        ga('send', 'pageview');

                ga('create', 'UA-158792091-1', 'auto');
        ga('require', 'GTM-PT4VD77');
        ga('send', 'pageview');
        </script>
        <!-- End Google Analytics -->
    </head>

    <body>

      <br>
<br>

<br>
<br>

      <img class="bicon" src="prodactivity-logo.png" height=100px/>
      <div class="container">
        <div class="header">
          <h2> PRO'D ACTIVITY </h2>
        </div>

        <br>




        <form name="login" onsubmit="return validateform() ;" method="post">

          
            <li><input class="username" type="text" placeholder="Username" name="username">
            </li>

             <li><input class="password" type="password" placeholder="Password" name="password">
            </li>

            <br>
            <br>
          

          <input type="button" class="submit" value="Log in" name="submit" onclick="validate()">
        </form>

        
          <br>
          <h6>Or</h6>
          <br>

          <div class="signup">
            <button type="button">
              <a href="/signup">Sign Up</a>
            </button>
          </div>
          <br>
          <div class="fbbutton">
            <fb:login-button class="fbbtn" scope="public_profile,email" onlogin="checkLoginState();">
            </fb:login-button>
          </div>
       
      </div>

        <script src="js/jquery-1.11.0.js"></script>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.js"></script>

<script>

var count = 2;

function validate()
{
  var un = document.login.username.value;
  var pw = document.login.password.value;
  var valid = false;
  var usernameArray = ["Yongho", "Danny", "Arya"];
  var passwordArray = ["12345", "12345", "12345"];
  for(var i = 0; i < usernameArray.length; i++){

    if ((un == usernameArray[i]) && (pw == passwordArray[i]))
    {
      valid = true;
      //changeProfileInfo(usernameArray[i]);
      $.post("/changeProfile/" + usernameArray[i] + "/" + "defaultpp.png");
      break;
    }
  }
  if (valid)
  {
    alert("Login was successful");
    window.location = "/index";
    return false;
  }
  var again = "tries";
  if (count == 1)
  {
    again >= "try"
  }
  if (count >= 1)
  {
    alert("Wrong password or username")
    count--;
  }
  else
  {
    alert("Incorrect password or username you are now blocked");
    document.login.username.value = "You are now Blocked";
    document.login.password.value = "Fool you can't see this";
    document.login.username.disabled = true;
    document.login.password.disabled = true;
    return false;

  }
}

</script>








    </body>
</html>
