<!doctype html>
<html>

    <head>
        <title>ProfilePage</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://code.jquery.com/jquery.js"></script>   
        <script src="js/bootstrap.js"></script>
        
        {{> facebook}}
        <script src="/js/facebook.js"></script>
        <script src="js/prod-activity.js"></script>


        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="css/profile.css" rel="stylesheet">
        <link href="css/index.css" rel="stylesheet">

        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>

        {{#if viewAlt}}
        <div class="bottomNav">
          <a href="/profile" class="active">Profile</a>
          <a href="/page_B">Home</a>
          <a href="/redeem">Redeem</a>
        </div>
        {{/if}}

        <div class="main" style = "background-color: white">

            <div id="container" style = "background-color: white">
                <div class="header">
                    {{#if viewAlt}}
                    <div id="icon" style="opacity: 0">
                        <a href="/index">
                            <img class="bicon" src="back.png" height=30px style = "float: left" />
                        </a>
                    </div>
                    {{else}}
                    <div id="icon" style="clear: both">
                        <a href="/index">
                            <img class="bicon" src="back.png" height=30px style = "float: left" />
                        </a>
                    </div>
                    {{/if}}

                    <h4> <b>Add Assignment</b> </h4>
                </div>
                <hr>

                <br>

                <img id="photo" src="defaultpp.png" style="width:50%">
                <h1 id="name">Example Name</h1>
                <div class="pointsDisplayed" style="color:#dea300">
                    <h3>Total Points Earned: {{totalPoints}}</h3>
                    <h3>Current Points: {{currPoints}}</h3>
                </div>
                <p class="title">Cognitive Science HCI - 4th Year</p>
                <p>University of California, San Diego</p>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <p> 
                    <br>
                    <br>
                    <a href="/">
                        <button style="margin-bottom: 5%">Sign Out</button>
                    </a>
                </p>

            </div>

        </div>
        
    </body>

</html>    