<!doctype html>
<html>

    <head>
        <title>ProfilePage</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://code.jquery.com/jquery.js"></script>   
        <script src="js/bootstrap.js"></script>
        <script src="js/prod-activity.js"></script>

        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="css/profile.css" rel="stylesheet">

        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>

        <div class="main" style = "background-color: #e6e2da">

            <div id="icon" style="clear: both">
                <a href="/index">
                    <img class="bicon" src="back.png" height=40px style = "float: left" />
                </a>
            </div>

            <img class="proPic" src="defaultpp.png" style="width:50%">
            <h1>Example Name</h1>
            <h2 id="profilePts" style="color:#dea300">0pts</h2>
            <p class="title">Cognitive Science HCI - 4th Year</p>
            <p>University of California, San Diego</p>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <p> 
                <a href="/">
                    <button>Sign Out</button>
                </a>
            </p>
        </div>
    </body>

</html>    