<!doctype html>
<html>

    <head>
        <title>Redeem Points</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://code.jquery.com/jquery.js"></script>   
        <script src="js/bootstrap.js"></script>
        <script src="js/jquery-1.11.0.js"></script>
        <script src="js/prod-activity.js"></script>

        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="css/add.css" rel="stylesheet">
        <link href="css/redeem.css" rel="stylesheet">
        <link href="css/index.css" rel="stylesheet">
    </head>

    <body>

        {{#if viewAlt}}
        <div class="bottomNav">
          <a href="/profile">Profile</a>
          <a href="/page_B">Home</a>
          <a href="/redeem" class="active">Redeem</a>
        </div>
        {{/if}}

      <div class="mainbody" style = "background-color: #e6e2da">

        <div id="container" style = "background-color: #e6e2da">

          {{#if viewAlt}}
          {{else}}
          <div id="icon">
            <a href="/index">
              <img class="bicon" src="back.png" height=40px style = "float: left" />
            </a>
          </div>
          {{/if}}

          <div id="container">

          <div id="header">
            <h2> <b>Redeem Points</b> </h2>
          </div>
          <hr id="border"/>

          <div id="displayPoints" style="color:#dea300">
                        <h4>Current Points</h4>
                        <h3 id="curr-points">{{currPoints}}pts<h3>
                   </div>
          </div>

          <div class="profilediv">
            <div id="profile">
              <div id="profile-center">
                <img class="proPic" id=PROFILE src="defaultpp.png">
                <img class="thuglife2" id=thuglife2 src="thuglife2.png">
                <img class="frame2" id=frame2 src="frame2.png">
                <img class="goldchain2" id=goldchain2 src="goldchain2.png">
              </div>
            </div>
          </div>
          
          <div class="listheader">
          <h4>Profile frames</h4>
          </div>
          <div class="items">
            <div class="frame">
              <div class="column" id="thuglife-item">
                <div class="eachitem">
                 <img src="thuglife.png" id="thuglife">
                </div>
                <h5>Thug LIfe</h5>
                <button name="button" id="thuglifeBtn">30pts</button>
              </div>
              <div class="column" id="frame-item">
                <div class="eachitem">
                  <img src="frame.png" id="frame">
                </div>
                <h5>frame</h5>
                <button name="button" id="frameBtn">80pts</button>
              </div>
              <div class="column" id="goldenchain-item">
                <div class="eachitem">
                  <img src="goldchain.png" id="goldchain">
                </div>
                <h5>goldchain</h5>
                <button name="button" id="goldchainBtn">40pts</button>
              </div>
              <hr id="border"/>
            </div>

            <div id="placeholder"><p>.</p></div>
          </div>

          <div class="listheader2">
          <h4>Random Picture for 5pts!</h4>
          </div>

          <div class="memePic">
            <img src="qmark.jpeg" id="memeimg" />
          </div>

          <div class="memebutton">
            <button name="button" id="MemeBtn">Get it</button>
          </div>

        </div>

      </div>

        
    </body>
</html>