<!doctype html>
<html>

    <head>
        <title>Redeem Points</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://code.jquery.com/jquery.js"></script>   
        <script src="js/bootstrap.js"></script>
        <script src="js/jquery-1.11.0.js"></script>

        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="css/add.css" rel="stylesheet">
    </head>

    <body>

      <div class="mainbody" style = "background-color: #e6e2da">

        <div id="icon">
          <a href="/index">
            <img class="bicon" src="back.png" height=40px style = "float: left" />
          </a>
        </div>

        <div id="container">

          <div id="header">
            <h2> <b>Redeem Points</b> </h2>
          </div>
          <hr id="border"/>

        </div>

      </div>

        
    </body>
</html>