body{
	height: 100%;
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

.mainbody{
	padding-bottom: 50px;
	height: 100%;
}

.mainbody img{
	padding-right: 10px;
}

.form-group{
	padding-right: 40px;
	padding-left: 40px;
}

#container{
	text-align: center;
	padding-top: 10px;
}

#icon{
	padding-top: 10px;
}

#repeat{
	padding-bottom: 10px;
}

#notification{
	padding-bottom: 20px;
}

.bicon{
	padding-left: 10px;
}