body{
	height: 100%;
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

.mainbody{
	padding-bottom: 50px;
	height: 100%;
}

.mainbody img{
	/*padding-right: 10px;*/

}

.form-group{
	padding-right: 40px;
	padding-left: 40px;
	/*padding-top: 10px;*/
	text-align: left;
}

#radio-prio{
	display: inline-block;
}

#radio-prio label{
	padding-right: 5px;
}

#prio-label{
	display:inline;
}

#container{
	text-align: center;
	background-color: white;
}

#icon{
	padding-top: 10px;
	padding-left: 10px;
}

#repeat{
	padding-bottom: 10px;
}

#notification{
	padding-bottom: 20px;
}



#addAssignment{
	background: white;
}

#submitBtn{
	margin-bottom: 40px;
}

h4 {
	text-align: center;
	padding-right: 15px;
}

#header-add{
	height: 60px;
	padding-top: 10px;
	padding-bottom: 5px;
}