body{
	height: 100%;
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

.arrow{
	text-align: right;
}

.assignment{
	border-radius: 10px;
	margin-right: 35px;
	margin-left: 35px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.assignment #due{
  color: white;
}

.assignment #points{
  color: white;
}
.hideInfo{
  display: none;
}

.mainbody{
	height: 100%;
  padding-bottom: 50px;
}

#header{
  height: 110px;
}

#home{
  margin-top: 0;
  margin-bottom: 0;
}

#app-title hr{
  margin-top: 2%;
}

#display-points h3{
  margin-top: 2%;
}

#cancel{
  margin-right: 25px;
  margin-bottom: 10px;
}

#complete{
  margin-left: 50px;
  margin-bottom: 10px;
}

.alist{
  display: grid;
  grid-template-columns: [first] 30% auto [last] 30%;
  margin: 0 auto;
}

#rlist{
  text-align: center;
  padding-left: 130px;
}

#view-recent{
  margin-left: auto;
  margin-right: 15%;
}

#view-list{
 text-align: center;
}

#check-mark{
  width:25px;
  text-align: center;
  padding-right: 5px;
  padding-top: 8px;

}

#assignment-header{
  display: grid;
  grid-template-columns: [first] 10% auto [last] 10%;
}

#prio{
  padding-top: 1px;
  padding-left: 8px;
  text-align: left;
}

#date{
	text-align: left;
	margin-left: 100px;
	margin-top: 25px;
	height: 20px;
}

#hmbgr{
	padding-left: 10px;
}

#add{
	padding-right: 10px;
}

#content{
	text-align: center;
  padding-bottom: 50px;
}

#app-title{
  text-align: center;
}

/* side navigation menu */
.sidenav{
	height: 100%; /* 100% Full-height */
  	width: 0; /* 0 width - change this with JavaScript */
  	position: fixed; /* Stay in place */
  	z-index: 1; /* Stay on top */
  	top: 0; /* Stay at the top */
  	left: 0;
  	background-color: #111; /* Black*/
  	overflow-x: hidden; /* Disable horizontal scroll */
  	padding-top: 60px; /* Place content 60px from the top */
  	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/*navigation menu links */
.sidenav a {
  	padding: 8px 8px 8px 32px;
  	text-decoration: none;
  	font-size: 25px;
  	color: #818181;
  	display: block;
  	transition: 0.3s;
}

/*change color of options when hovering them */
.sidenav a:hover {
  	color: #f1f1f1;
}

/*position and style the close button - top right corner*/
.sidenav .closebtn {
  	position: absolute;
  	top: 0;
  	right: 25px;
  	font-size: 36px;
  	margin-left: 50px;
}

/* push content aside when menu is opened*/
#container {
  transition: margin-left .5s;
  padding: 20px;
}

/*change style for smaller devices*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* This is the bottom navigation menu css*/
.bottomNav {
  display: grid;
  grid-template-columns: [first] 33% auto [last] 33%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
 
}

.bottomNav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.bottomNav a:hover {
  background: #f1f1f1;
  color: black;
}

.bottomNav a.active {
  background-color: #4CAF50;
  color: white;
}