body{
	height: 100%;
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

.arrow{
	text-align: right;
}

.assignment{
	border-radius: 10px;
	margin-right: 35px;
	margin-left: 35px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.removeAssignment{
  background-color: white;
  border: none;
  color: #2196F3;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;
}

.recent-assignments{
  display: none;
}

/* slide up and right animation*/
.slide-out-bck-tr {
  -webkit-animation: slide-out-bck-tr 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation: slide-out-bck-tr 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-out-bck-tr {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px) translateY(-1000px) translateX(1000px);
            transform: translateZ(-1100px) translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-bck-tr {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px) translateY(-1000px) translateX(1000px);
            transform: translateZ(-1100px) translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
}
/* slide up and right animation END*/

/* slide right animation*/
.slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}
/*slide right animation END*/

.assignment #due{
  color: white;
}

.assignment #points{
  color: white;
}
.hideInfo{
  display: none;
}

.mainbody{
	height: 100%;
  /*padding-bottom: 50px*/;
  
}

.calendar-display{
  display: none;
}

#header-top{
  display: grid;
  grid-template-columns: [first] 10% auto [last] 10%;
}

#header{

  z-index: 1;
  position: fixed;
  margin-top: -5px;
  padding-top: 10px;
  overflow: hidden;
  background-color: white;
  position: fixed;
  width: 100%;
  max-width: 100vw;
}

#header-content{
  display: grid;
  grid-template-columns: [first] 40% auto [last] 40%;
}

#point-header{
  max-width: 100vw;
  display: grid;
  grid-template-columns: [first] 25% auto [last] 25%;
}

#home{
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

#point-line1{
  margin-left: 30%;
  width: 75%;
}

#point-line2{
  margin-right: 30%;
  width: 75%;
  margin-left: -5px;
}

/*toggle swith for calendarview*/

#toggle-switch img{
  margin-top: 10px;
}

#toggle-switch{
  text-align: right;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  z-index: -0.5;
  display: inline-block;
  width: 50px;
  height: 33px;
  margin-bottom: 0px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*end of of toggle switch*/

#display-points h3{
  margin-top: 2%;
}

#display-points h4{
  margin-top: 0;
}

#header-date{
  text-align: left;
  padding-left: 15px;
  margin-bottom: 0;
  font-style: bold;
}

#header-day{
  text-align: left;
  padding-left: 15px;
}



#cancel{
  margin-right: 25px;
  margin-bottom: 10px;
}

#complete{
  margin-left: 50px;
  margin-bottom: 10px;
}

.alist{
  display: grid;
  grid-template-columns: [first] 0% auto [last] 50%;
  margin: 0 auto;
}

#rlist{
  text-align: center;
  padding-left: 130px;
}

#view-recent{
  text-align: center;
}

#view-list{
 text-align: center;
}

#check-mark{
  width:25px;
  text-align: center;
  padding-right: 5px;
  padding-top: 8px;

}

#assignment-header{
  display: grid;
  grid-template-columns: [first] 10% auto [last] 10%;
}

#prio{
  padding-top: 1px;
  padding-left: 8px;
  text-align: left;
}

#date{
	text-align: left;
	margin-left: 100px;
	margin-top: 25px;
	height: 20px;
}

#hmbgr{
	padding-left: 10px;
}

#add{

  position: fixed;
  bottom: 0;
  right: 0;
	padding-right: 15px;
  padding-bottom: 20px;
}

#content{
  margin-top: 110px;
	text-align: center;
  padding-bottom: 50px;
}

#app-title{
  text-align: center;
}

/* side navigation menu */
.sidenav{
	height: 100%; /* 100% Full-height */
  	width: 0; /* 0 width - change this with JavaScript */
  	position: fixed; /* Stay in place */
  	z-index: 2; /* Stay on top */
  	top: 0; /* Stay at the top */
  	left: 0;
  	background-color: #111; /* Black*/
  	overflow-x: hidden; /* Disable horizontal scroll */
  	padding-top: 60px; /* Place content 60px from the top */
  	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/*navigation menu links */
.sidenav a {
  	padding: 8px 8px 8px 32px;
  	text-decoration: none;
  	font-size: 25px;
  	color: #818181;
  	display: block;
  	transition: 0.3s;
}

/*change color of options when hovering them */
.sidenav a:hover {
  	color: #f1f1f1;
}

/*position and style the close button - top right corner*/
.sidenav .closebtn {
  	position: absolute;
  	top: 0;
  	right: 25px;
  	font-size: 36px;
  	margin-left: 50px;
}

/* push content aside when menu is opened*/
#container {
  transition: margin-left .5s;
  padding: 10px;
  background-color: white;
}

/*change style for smaller devices*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* This is the bottom navigation menu css*/

.topView{
  text-align: center;
}

.topView a {
  display: inline;
  color: #2196F3;
  text-align: center;
  padding: 14px 15%;
  text-decoration: none;
  font-size: 17px;
  padding-bottom: 0;
}

.topView hr{
  height: .25rem;
  width: 25%;
  margin-left: 15%;
  background: black;
  border: none;
  transition: .3s ease-in-out;
}


.bottomNav {
  display: grid;
  grid-template-columns: [first] 33% auto [last] 33%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
 
}

.bottomNav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.bottomNav a:hover {
  background: #f1f1f1;
  color: black;
}

.bottomNav a.active {
  background-color: #2196F3;
  color: white;
}

hr{
  border-width: 2px;
  margin: 4px;
}