*{
	text-align: center;
	
	font-family: sans-serif;
}

li{
	list-style-type: none;
	text-align: center;
	padding-top: 10%;
}

input{
	background-size: #333;
	border: none;

}

.container {
	font-family: : sans-serif;
	/*border: 2px solid grey;*/
	/*width: 24%;*/
	text-align: center;
	margin: auto;
	/*border-radius: 12px;*/
	background-color: white;
	/*padding-bottom: 10px;*/
}

.header{
	padding-top: 5%;
}


.username {
	text-align: left;
	width: 86%;
	border: none;
	border-bottom: 2px solid black;
	
}

.password {
	text-align: left;
	width: 86%;
	border: none;
	border-bottom: 2px solid black;
	
}
.submit{
	width: 86%;
	height: 30px;
	background-color: #5b5656;
	color: white;

}


.fbbtn{
	width: 100px;
	height: 100px;
}

