body{
  height: 100%;
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

.main {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /*max-width: 300px;*/
  margin: auto;
  text-align: center;
  /*padding-top: 10px;*/
  height: 100%;
}

.title {
  color: grey;
  font-size: 18px;
}

#icon {
  padding-top: 10px;
}

#karate-belt h4{
  padding-right: 0;
}

/*.bicon{
  padding-left: 10px;
}*/
/*
.proPic{
  padding-right: 50px;
}*/

button {
  border-radius: 10px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: red;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.header{
  height: 60px;
  padding-top: 10px;
}

h4 {
  padding-right: 35px;
}

i {
  padding-right: 10px;
}

.profilediv{
  width: 100%;
}

.profile{
 display:flex;
  align-items: center;
  justify-content: center;

}

#profile-center{
  width:70%;
  align-items: center;
  position:relative;
  margin: auto;
}


.proPic{
width:50%;

}

#thuglife2{
    width:25%;
    height: auto;
    position:absolute;
    left:37%;
  top:25%;
  z-index:1;
  opacity: 1;

}
#frame2{
    width:58%;
    height: auto;
    position:absolute;
    left:21%;
  top:-5%;
  z-index:1;
  opacity: 1;

}
#goldchain2{
    width:15%;
    height: auto;
    position:absolute;
    left:43%;
  top:64%;
  z-index:1;
  opacity: 1;

}