body{
  height: 100%;
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

.main {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /*max-width: 300px;*/
  margin: auto;
  text-align: center;
  padding-top: 10px;
  height: 100%;
}

.title {
  color: grey;
  font-size: 18px;
}

.bicon{
  padding-left: 10px;
}

.proPic{
  padding-right: 50px;
}

button {
  border-radius: 10px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: red;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}