
.column{
	float: left;
	width: 33.33%;
	text-align: center;
	padding-bottom: 70px;
}

.row:after{
	content:"";
	display: table;
	clear: both;
}

.items{
	margin-left: 5%;
	margin-right: 5%;
}

.profilediv{
  width: 100%;

}

.profile{
 display:flex;
  align-items: center;
  justify-content: center;

}

#profile-center{
  width:70%;
  align-items: center;
  position:relative;
  margin: auto;
}

.proPic{
width:50%;
}

#thuglife2{
    width:25%;
    height: auto;
    position:absolute;
    left:37%;
  top:25%;
  z-index:1;
  opacity: 0;

}
#frame2{
    width:58%;
    height: auto;
    position:absolute;
    left:20%;
  top:0%;
  z-index:1;
  opacity: 0;

}
#goldchain2{
    width:15%;
    height: auto;
    position:absolute;
    left:43%;
  top:64%;
  z-index:1;
  opacity: 0;

}


#thuglife{
	height: 100%;
	width: 100%;


}

#frame{
	height: 100%;
	width: 100%;
}

#goldchain{
	height: 100%;
	width: 100%;
}

.memePic{
	text-align: center;
}

.memePic #memeimg{
	padding-left: 2%;
	padding-right: 2%;
	height: 100%;
	width: 100%;
}

.memebutton{
	padding-top: 50px;
	text-align: center;
}

#MemeBtn{
	background-color: green;
	color: white;
	height: 40px;
	width: 100px;

}


.listheader{
	padding: 50px;
}

.listheader2{
	padding: 50px;
}
