
.column{
  float: left;
  width: 33.33%;
  height: 170px;
  text-align: center;
  
  padding-left: 7px;
  padding-right: 7px;
}

#pagename h3 {
  padding-left: 5%;
  padding-right: 8%;
  padding-bottom: 20px;
  margin-right: 10px;

}

.listheader h4 {
  text-align: left;
  padding: 0px;
}

.row:after{
  content:"";
  display: table;
  clear: both;
}

.items{
  margin-left: 5%;
  margin-right: 5%;
}

.profilediv{
  width: 100%;
}

.profile{
 display:flex;
  align-items: center;
  justify-content: center;

}



#profile-center{
  width:70%;
  align-items: center;
  position:relative;
  margin: auto;
  padding-bottom: 20px;
}

.proPic{
width:80%;
}
#thuglife{
  background-color: #ededed;
  border-radius: 10px;
}
#frame{
  height: 92.48px;
  background-color: #ededed;
  border-radius: 10px; 
}
#goldchain{
  height: 92.48px;
  width: 92.48px; 
  background-color: #ededed;
  border-radius: 10px;
}
#thuglife2{
    width:35%;
    height: auto;
    position:absolute;
    left:33%;
  top:25%;
  z-index:1;
  opacity: 1;

}
#frame2{
    width:88%;
    height: auto;
    position:absolute;
    left:6%;
  top:-3%;
  z-index:1;
  opacity: 1;

}
#goldchain2{
    width:23%;
    height: auto;
    position:absolute;
    left:39%;
  top:58%;
  z-index:1;
  opacity: 1;
}

#puppy2{
    width:50%;
    height: auto;
    position:absolute;
    left:4%;
  top:58%;
  z-index:1;
  opacity: 1;
}

#palmtree2{
    width:80%;
    height: auto;
    position:absolute;
    left:10%;
  top:0%;
  z-index:1;
  opacity: 1;
}

#flower2{
    width:30%;
    height: auto;
    position:absolute;
    left:2%;
  top:-10%;
  z-index:1;
  opacity: 1;
}

#puppy{
  height: 92.48px;
  width: 92.48px; 
  background-color: #ededed;
  border-radius: 10px;
}

#palmtree{
  height: 92.48px;
  width: 92.48px; 
  background-color: #ededed;
  border-radius: 10px;
}

#flower{
  height: 92.48px;
  width: 92.48px; 
  background-color: #ededed;
  border-radius: 10px;
}

#thuglife{
  height: 92.48px;
  width: 92.48px;
}

#frame{
  opacity: 1;
  height: 92.48px;
  width: 92.48px;
  background-color: #ededed;
  border-radius: 10px; 
}

#goldchain{
  height: 92.48px;
  width: 92.48px;
  opacity: 1;
}

.memePic{
  text-align: center;
}

.memePic #memeimg{
  padding-left: 2%;
  padding-right: 2%;
  height: 100%;
  width: 100%;
}

.memebutton{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

#MemeBtn{
  background-color: green;
  color: white;
  height: 40px;
  width: 100px;

}

.listheader{
  padding-left: 20px;
}

.listheader2{
  padding: 5px;
  border-style: dashed;
}

.header {
  height: 60px;
  display: grid;
  grid-template-columns: [first] 10% auto;
  padding-top: 10px
}

#icon {
  padding-top: 18px;
}

#header-redeem {
  padding-right: 25px;

}

.GC h5{
  padding-top: 5px;
}

#displayPoints {
  display: inline-block;
}

.star {
  margin-bottom: 8px;
  text-align: center;
}

.stars {
  text-align: center;
}

#myProgress {
  width: 92%;
  background-color: #dbdbdb;
  margin-left: 14px;
  margin-bottom: 5px;
  border-radius: 10px;
}

#myBar {
  height: 15px;
  background-color: green;
  border-radius: 10px;
  max-width: 88vw;
}

.progressBar {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  height: 30px;
  margin-bottom: 10px;
}

.progressBar h5 {
  padding-left: 0%;
  margin-top: 0;
}

#placeholder h4 {
  text-align: left;
}

#border {
  padding-bottom: 10px;
}